<!DOCTYPE html>
<html lang="UTF-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
   <head>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <meta name="description" content=""/>
      <meta name="author" content=""/>

      <link rel="icon" type="image/png" th:href="@{/web/img/fav.png}"/>
      <title></title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" th:href="@{/web/vendor/slick/slick.min.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/web/vendor/slick/slick-theme.min.css}"/>
      <!-- Feather Icon-->
      <link th:href="@{/web/vendor/icons/feather.css}" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link th:href="@{/web/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link th:href="@{/web/css/style.css}" rel="stylesheet">
   </head>
   <body>
      <!-- Navigation -->
      <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
         <div class="container">
            <a class="navbar-brand mr-2" href="index.html"><img th:src="@{/web/img/logo.png}" alt="">
            </a>
<!--            <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">-->
<!--               <div class="input-group">-->
<!--                  <input type="text" class="form-control shadow-none border-0" placeholder="Search people, jobs & more..." aria-label="Search" aria-describedby="basic-addon2">-->
<!--                  <div class="input-group-append">-->
<!--                     <button class="btn" type="button">-->
<!--                     <i class="feather-search"></i>-->
<!--                     </button>-->
<!--                  </div>-->
<!--               </div>-->
<!--            </form>-->
            <ul class="navbar-nav ml-auto d-flex align-items-center">
               <!-- Nav Item - Search Dropdown (Visible Only XS) -->
               <li class="nav-item dropdown no-arrow d-sm-none">
                  <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="feather-search mr-2"></i>
                  </a>
                  <!-- Dropdown - Messages -->
                  <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in" aria-labelledby="searchDropdown">
                     <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                           <input type="text" class="form-control border-0 shadow-none" placeholder="Search people, jobs and more..." aria-label="Search" aria-describedby="basic-addon2">
                           <div class="input-group-append">
                              <button class="btn" type="button">
                              <i class="feather-search"></i>
                              </button>
                           </div>
                        </div>
                     </form>
                  </div>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="release.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">招聘信息发布</span></a>
               </li>
<!--               <li class="nav-item">-->
<!--                  <a class="nav-link" href="connection.html"><i class="feather-users mr-2"></i><span class="d-none d-lg-inline">Connection</span></a>-->
<!--               </li>-->
               <li class="nav-item dropdown mr-2">
                  <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="feather-file-text mr-2"></i><span class="d-none d-lg-inline">Pages</span>
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow-sm">
                     <a class="dropdown-item" href="index.html"><i class="feather-briefcase mr-1"></i> 首页</a>
                     <a class="dropdown-item" href="profile.html"><i class="feather-user mr-1"></i> 个人信息</a>
                     <a class="dropdown-item" href="release.html"><i class="feather-users mr-1"></i> 招聘信息发布</a>
<!--                     <a class="dropdown-item" href="company-profile.html"><i class="feather-user-plus mr-1"></i> Company Profile</a>-->
<!--                     <a class="dropdown-item" href="job-profile.html"><i class="feather-globe mr-1"></i> Job Profile</a>-->
                     <a class="dropdown-item" href="sign-in.html"><i class="feather-log-in mr-1"></i> 登陆</a>
                     <a class="dropdown-item" href="sign-up.html"><i class="feather-lock mr-1"></i> 注册</a>
                  </div>
               </li>
               <!-- Nav Item - User Information -->
               <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                  <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="img-profile rounded-circle" src="img/p13.png">
                  </a>
                  <!-- Dropdown - User Information -->
                  <div class="dropdown-menu dropdown-menu-right shadow-sm">
                     <div class="p-3 d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                           <img class="rounded-circle" src="img/user.png" alt="">
                           <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                           <div class="text-truncate" id="nav_name"></div>
                           <div class="small text-gray-500" id="nav_userName"></div>
                        </div>
                     </div>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="profile.html"><i class="feather-user mr-1"></i> Profile</a>
                     <a class="dropdown-item" href="sign-in.html"><i class="feather-log-out mr-1"></i> Logout</a>
                  </div>
               </li>
            </ul>
         </div>
      </nav>
      <div class="py-4">
         <div class="container">
            <div class="row">
               <!-- Main Content -->
               <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
<!--                  <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">-->
<!--                     <ul class="nav nav-justified border-bottom osahan-line-tab" id="myTab" role="tablist">-->
<!--                        <li class="nav-item">-->
<!--                           <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="feather-edit"></i> Share an update</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                           <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="feather-image"></i> Upload a photo</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                           <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="feather-clipboard"></i> Write an article</a>-->
<!--                        </li>-->
<!--                     </ul>-->
<!--                     <div class="tab-content" id="myTabContent">-->
<!--                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">-->
<!--                           <div class="p-3 d-flex align-items-center w-100" href="#">-->
<!--                              <div class="dropdown-list-image mr-3">-->
<!--                                 <img class="rounded-circle" src="img/user.png" alt="">-->
<!--                                 <div class="status-indicator bg-success"></div>-->
<!--                              </div>-->
<!--                              <div class="w-100">-->
<!--                                 <textarea placeholder="Write your thoughts..." class="form-control border-0 p-0 shadow-none" rows="1"></textarea>-->
<!--                              </div>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">-->
<!--                           <div class="p-3 w-100">-->
<!--                              <textarea placeholder="Write your thoughts..." class="form-control border-0 p-0 shadow-none" rows="3"></textarea>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">-->
<!--                           <div class="p-3 w-100">-->
<!--                              <textarea placeholder="Write an article..." class="form-control border-0 p-0 shadow-none" rows="3"></textarea>-->
<!--                           </div>-->
<!--                        </div>-->
<!--                     </div>-->
<!--                     <div class="border-top p-3 d-flex align-items-center">-->
<!--                        <div class="mr-auto"><a href="#" class="text-link small"><i class="feather-map-pin"></i> Add Location</a></div>-->
<!--                        <div class="flex-shrink-1">-->
<!--                           <button type="button" class="btn btn-light btn-sm">Preview</button>-->
<!--                           <button type="button" class="btn btn-primary btn-sm">Post Status</button>-->
<!--                        </div>-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  <div class="box shadow-sm border rounded bg-white mb-3 osahan-post">-->
<!--                     <div class="p-3 d-flex align-items-center border-bottom osahan-post-header">-->
<!--                        <div class="dropdown-list-image mr-3">-->
<!--                           <img class="rounded-circle" src="img/p5.png" alt="">-->
<!--                           <div class="status-indicator bg-success"></div>-->
<!--                        </div>-->
<!--                        <div class="font-weight-bold">-->
<!--                           <div class="text-truncate">Tobia Crivellari</div>-->
<!--                           <div class="small text-gray-500">Product Designer at askbootstrap</div>-->
<!--                        </div>-->
<!--                        <span class="ml-auto small">3 hours</span>-->
<!--                     </div>-->
<!--                     <div class="p-3 border-bottom osahan-post-body">-->
<!--                        <p class="mb-0">Tmpo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#">laboris consequat.</a></p>-->
<!--                     </div>-->
<!--                     <div class="p-3 border-bottom osahan-post-footer">-->
<!--                        <a href="#" class="mr-3 text-secondary"><i class="feather-heart text-danger"></i> 16</a>-->
<!--                        <a href="#" class="mr-3 text-secondary"><i class="feather-message-square"></i> 8</a>-->
<!--                        <a href="#" class="mr-3 text-secondary"><i class="feather-share-2"></i> 2</a>-->
<!--                     </div>-->
<!--                     <div class="p-3">-->
<!--                        <button type="button" class="btn btn-outline-primary btn-sm mr-1">Awesome!!</button>-->
<!--                        <button type="button" class="btn btn-light btn-sm mr-1">😍</button>-->
<!--                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Whats it about?</button>-->
<!--                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1">Oooo Great Wow</button>-->
<!--                     </div>-->
<!--                  </div>-->
                  <div class="mb-3 shadow-sm rounded box bg-white osahan-slider-main">
                    <div class="osahan-slider"  id="recommend_jobs_box">
                       <!--   招聘信息列表-->
                    </div>
                     <a class="font-weight-bold p-3 d-block" href="javascript:void(0)" onclick="moreList()" > 加载更多</a>
                  </div>

               </main>
               <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                  <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                     <div class="py-4 px-3 border-bottom">
                        <img src="img/p13.png" class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                        <h5 class="font-weight-bold text-dark mb-1 mt-4" id="left_name"></h5>
                        <p class="mb-0 text-muted" id="left_username"></p>
                     </div>
                     <div class="d-flex">
                        <div class="col-6 border-right p-3">
                           <h6 class="font-weight-bold text-dark mb-1">358</h6>
                           <p class="mb-0 text-black-50 small">Connections</p>
                        </div>
                        <div class="col-6 p-3">
                           <h6 class="font-weight-bold text-dark mb-1">85</h6>
                           <p class="mb-0 text-black-50 small">Views</p>
                        </div>
                     </div>
                     <div class="overflow-hidden border-top">
                        <a class="font-weight-bold p-3 d-block" href="profile.html"> View my profile </a>
                     </div>
                  </div>
<!--                  <div class="box mb-3 shadow-sm rounded bg-white view-box overflow-hidden">-->
<!--                     <div class="box-title border-bottom p-3">-->
<!--                        <h6 class="m-0">Profile Views</h6>-->
<!--                     </div>-->
<!--                     <div class="d-flex text-center">-->
<!--                        <div class="col-6 border-right py-4 px-2">-->
<!--                           <h5 class="font-weight-bold text-info mb-1">08 <i class="feather-bar-chart-2"></i></h5>-->
<!--                           <p class="mb-0 text-black-50 small">last 5 days</p>-->
<!--                        </div>-->
<!--                        <div class="col-6 py-4 px-2">-->
<!--                           <h5 class="font-weight-bold text-success mb-1">+ 43% <i class="feather-bar-chart"></i></h5>-->
<!--                           <p class="mb-0 text-black-50 small">Since last week</p>-->
<!--                        </div>-->
<!--                     </div>-->
<!--                     <div class="overflow-hidden border-top text-center">-->
<!--                        <img src="img/chart.png" class="img-fluid" alt="Responsive image">-->
<!--                     </div>-->
<!--                  </div>-->
<!--                  <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">-->
<!--                     <img src="img/job1.png" class="img-fluid" alt="Responsive image">-->
<!--                     <div class="p-3 border-bottom">-->
<!--                        <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>-->
<!--                        <p class="mb-0 text-muted">Looking for talent?</p>-->
<!--                     </div>-->
<!--                     <div class="p-3">-->
<!--                        <button type="button" class="btn btn-outline-primary pl-4 pr-4"> POST A JOB </button>-->
<!--                     </div>-->
<!--                  </div>-->
               </aside>
               <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

<!--                  <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">-->
<!--                     <img th:src="@{/web/img/ads1.png}" class="img-fluid" alt="Responsive image">-->
<!--                     <div class="p-3 border-bottom">-->
<!--                        <h6 class="font-weight-bold text-gold">Osahanin Premium</h6>-->
<!--                        <p class="mb-0 text-muted">Grow & nurture your network</p>-->
<!--                     </div>-->
<!--                     <div class="p-3">-->
<!--                        <button type="button" class="btn btn-outline-gold pl-4 pr-4"> ACTIVATE </button>-->
<!--                     </div>-->
<!--                  </div>-->
                  <div class="box shadow-sm border rounded bg-white mb-3">
                     <div class="box-title border-bottom p-3">
                        <h6 class="m-0">Jobs
                        </h6>
                     </div>
                     <div class="box-body p-3">
                        <a href="job-profile.html?jobid=1">
                           <div class="shadow-sm border rounded bg-white job-item mb-3">
                              <div class="d-flex align-items-center p-3 job-item-header">
                                 <div class="overflow-hidden mr-2">
                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">阿里招聘会</h6>
                                    <div class="text-truncate text-primary">南京大学</div>
                                    <div class="small text-gray-500"><i class="feather-map-pin"></i> 鼓楼</div>
                                 </div>
                                 <img class="img-fluid ml-auto" src="img/l3.png" alt="">
                              </div>
                              <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                 <div class="overlap-rounded-circle">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p9.png" alt="" data-original-title="Sophia Lee">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p10.png" alt="" data-original-title="John Doe">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p11.png" alt="" data-original-title="Julia Cox">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p12.png" alt="" data-original-title="Robert Cook">
                                 </div>
                                 <span class="font-weight-bold text-muted">18 connections</span>
                              </div>
                              <div class="p-3 job-item-footer">
                                 <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
                              </div>
                           </div>
                        </a>

                        <a href="job-profile.html?jobid=3">
                           <div class="shadow-sm border rounded bg-white job-item  mb-3">
                              <div class="d-flex align-items-center p-3 job-item-header">
                                 <div class="overflow-hidden mr-2">
                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">腾讯宣讲会</h6>
                                    <div class="text-truncate text-primary">南京大学</div>
                                    <div class="small text-gray-500"><i class="feather-map-pin"></i> 仙林
                                    </div>
                                 </div>
                                 <img class="img-fluid ml-auto" src="img/l4.png" alt="">
                              </div>
                              <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                 <div class="overlap-rounded-circle">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Sophia Lee">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p1.png" alt="" data-original-title="John Doe">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p3.png" alt="" data-original-title="Robert Cook">
                                 </div>
                                 <span class="font-weight-bold text-muted">18 connections</span>
                              </div>
                              <div class="p-3 job-item-footer">
                                 <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
                              </div>
                           </div>
                        </a>

                        <a href="job-profile.html?jobid=2">
                           <div class="shadow-sm border rounded bg-white job-item  mb-3">
                              <div class="d-flex align-items-center p-3 job-item-header">
                                 <div class="overflow-hidden mr-2">
                                    <h6 class="font-weight-bold text-dark mb-0 text-truncate">头条宣讲会</h6>
                                    <div class="text-truncate text-primary">南京大学</div>
                                    <div class="small text-gray-500"><i class="feather-map-pin"></i> 汉口路
                                    </div>
                                 </div>
                                 <img class="img-fluid ml-auto" src="img/l4.png" alt="">
                              </div>
                              <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                                 <div class="overlap-rounded-circle">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p13.png" alt="" data-original-title="Sophia Lee">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p1.png" alt="" data-original-title="John Doe">
                                    <img class="rounded-circle shadow-sm" data-toggle="tooltip" data-placement="top" title="" src="img/p3.png" alt="" data-original-title="Robert Cook">
                                 </div>
                                 <span class="font-weight-bold text-muted">18 connections</span>
                              </div>
                              <div class="p-3 job-item-footer">
                                 <small class="text-gray-500"><i class="feather-clock"></i> Posted 3 Days ago</small>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </aside>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script th:src="@{/web/vendor/jquery/jquery.min.js}"></script>
      <script th:src="@{/web/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" th:src="@{/web/vendor/slick/slick.min.js}"></script>
      <!-- Custom scripts for all pages-->
      <script th:src="@{/web/js/osahan.js}"></script>
      <script type="text/javascript">
         //1、页面加载完成以后，直接去发送一个Ajax请求，要到数据
         //2、初始化页面信息
         $(function(){
            to_page();
            $("#nav_name").text(localStorage.getItem("name"));
            $("#nav_userName").text(localStorage.getItem("loginName"));
            $("#left_name").text(localStorage.getItem("name"));
            $("#left_username").text(localStorage.getItem("loginName"));
         });
         //查询所有项目
         function to_page() {
            $.ajax({
               url: "http://localhost:9000/jobfair/jobfair/list?pn=0",
               timeout: 2000,
               type: "GET",
               success: function (result) {
                  //console.log(result);
                  //清空table表
                  $("#recommend_jobs_box").empty();
                  //1、解析并显示推荐的招聘会数据
                  build_jobFair_box(result, 0);
               }
            });
         }
         function moreList() {
            var pn = parseInt($("#recommend_jobs_box").attr("pn"));
            $.ajax({
               url: "http://localhost:9000/jobfair/jobfair/list?pn=" + (pn+1) ,
               type: "GET",
               success: function (result) {
                  //console.log(result);
                  //清空table表
                  // $("#recommend_jobs_box").empty();
                  //1、解析并显示推荐的招聘会数据
                  build_jobFair_box(result, pn+1);
               }
            });
         }

         function build_jobFair_box(result, pn){
            $("#recommend_jobs_box").attr("pn", pn);
            var jobs = result.data;
            $.each(jobs,function(index,item){


               var title = $("<h6 class=\"font-weight-bold text-dark mb-0 text-truncate\"></h6>").append(item.jobfairTitle);
               var name = $("<div class=\"text-truncate text-primary\"></div>").append("南京大学");//item.enterpriseName
               var address = $(" <div class=\"small text-gray-500\"><i class=\"feather-map-pin\"></i></div>").append(item.jobfairAddress);

               var head = $("<div class=\"overflow-hidden mr-2\"></div>").append(title).append(name).append(address);
               var logo = $("<img class=\"img-fluid ml-auto\" src=\"img/l1.png\" alt=\"\">");

               var headBos = $("<div class=\"d-flex align-items-center p-3 job-item-header\"></div>").append(head).append(logo);

               var heart = $("<a href=\"#\" class=\"mr-3 text-secondary\"><i class=\"feather-heart text-danger\"></i> </a>").append(item.prove_num);
               var comment = $("<a href=\"#\" class=\"mr-3 text-secondary\"><i class=\"feather-message-square\"></i> </a>").append(item.comment_num);
               var share = $("<a href=\"#\" class=\"mr-3 text-secondary\"><i class=\"feather-share-2\"></i> 0 </a>");

               var center = $("<div class=\"d-flex align-items-center p-3 border-top border-bottom job-item-body\"></div>").append(heart).append(comment).append(share);

               var footer = $(" <div class=\"p-3 job-item-footer\"></div>").append($("<small class=\"text-gray-500\"><i class=\"feather-clock\"></i> Posted 3 Days ago</small>"));


               var jobDetail = $("<a href=\"job-profile.html?jobid=" + item.jobfairId + "\"></a>").append($("<div class=\"shadow-sm border rounded bg-white job-item job-item mr-2 mt-3 mb-3\"></div>").append(headBos).append(center).append(footer));

               $("<div class=\"osahan-slider-item\"></div>").append(jobDetail).appendTo("#recommend_jobs_box");



            });
         }
      </script>
   </body>
</html>
