<!DOCTYPE html>
<html lang="UTF-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="img/fav.png">
    <title></title>
    <!-- Slick Slider -->
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
    <!-- Feather Icon-->
    <link href="vendor/icons/feather.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
    <div class="container">
        <a class="navbar-brand mr-2" href="index.html"><img src="img/logo.png" alt="">
        </a>
        <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control shadow-none border-0" placeholder="Search people, jobs & more..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn" type="button">
                        <i class="feather-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav ml-auto d-flex align-items-center">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather-search mr-2"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control border-0 shadow-none" placeholder="Search people, jobs & more..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn" type="button">
                                    <i class="feather-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="jobs.html"><i class="feather-briefcase mr-2"></i><span class="d-none d-lg-inline">Jobs</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="connection.html"><i class="feather-users mr-2"></i><span class="d-none d-lg-inline">Connection</span></a>
            </li>
            <li class="nav-item dropdown mr-2">
                <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather-file-text mr-2"></i><span class="d-none d-lg-inline">Pages</span>
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                    <a class="dropdown-item" href="jobs.html"><i class="feather-briefcase mr-1"></i> Jobs</a>
                    <a class="dropdown-item" href="profile.html"><i class="feather-user mr-1"></i> Profile</a>
                    <a class="dropdown-item" href="connection.html"><i class="feather-users mr-1"></i> Connection</a>
                    <a class="dropdown-item" href="company-profile.html"><i class="feather-user-plus mr-1"></i> Company Profile</a>
                    <a class="dropdown-item" href="job-profile.html"><i class="feather-globe mr-1"></i> Job Profile</a>
                    <a class="dropdown-item" href="sign-in.html"><i class="feather-log-in mr-1"></i> Sign In</a>
                    <a class="dropdown-item" href="sign-up.html"><i class="feather-lock mr-1"></i> Sign Up</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather-message-square"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">8</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p1.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold overflow-hidden">
                            <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p2.png" alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div class="overflow-hidden">
                            <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p3.png" alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div class="overflow-hidden">
                            <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/p4.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="overflow-hidden">
                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather-bell"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-info badge-counter">6</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="feather-download-cloud text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="feather-edit text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="feather-folder text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="img/p13.png">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                    <div class="p-3 d-flex align-items-center">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="img/user.png" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Gurdeep Osahan</div>
                            <div class="small text-gray-500">UI/UX Designer</div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="profile.html"><i class="feather-user mr-1"></i> Profile</a>
                    <a class="dropdown-item" href="sign-in.html"><i class="feather-log-out mr-1"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="py-4">
    <div class="container">
        <div class="row">
            <!-- Main Content -->
            <aside class="col col-xl-3 order-xl-1 col-lg-12 order-lg-1 col-12">
                <div class="box mb-3 shadow-sm border rounded bg-white profile-box text-center">
                    <div class="py-4 px-3 border-bottom">
                        <img src="img/p13.png" class="img-fluid mt-2 rounded-circle" alt="Responsive image">
                        <h5 class="font-weight-bold text-dark mb-1 mt-4" id="left_name"></h5>
                        <p class="mb-0 text-muted" id="left_username"></p>
                    </div>
                    <div class="d-flex">
                        <div class="col-6 border-right p-3">
                            <h6 class="font-weight-bold text-dark mb-1">358</h6>
                            <p class="mb-0 text-black-50 small">Connections</p>
                        </div>
                        <div class="col-6 p-3">
                            <h6 class="font-weight-bold text-dark mb-1">85</h6>
                            <p class="mb-0 text-black-50 small">Views</p>
                        </div>
                    </div>
                    <div class="overflow-hidden border-top">
                        <a class="font-weight-bold p-3 d-block" href="sign-in.html"> Log Out </a>
                    </div>
                </div>

                <!--                  <div class="box shadow-sm border rounded bg-white mb-3">-->
                <!--                     <div class="box-title border-bottom p-3">-->
                <!--                        <h6 class="m-0">Skills & Endorsements</h6>-->
                <!--                     </div>-->
                <!--                     <div class="box-body">-->
                <!--                        <div class="d-flex align-items-center osahan-post-header p-3 border-bottom people-list">-->
                <!--                           <div class="dropdown-list-image mr-3">-->
                <!--                              <img class="rounded-circle" src="img/l4.png" alt="">-->
                <!--                           </div>-->
                <!--                           <div class="font-weight-bold">-->
                <!--                              <div class="text-truncate">Character Concept <span class="badge badge-dark ml-1">1</span></div>-->
                <!--                              <div class="small text-muted"><span class="text-primary">You and 1 connection</span> have given endorsements for this skill-->
                <!--                              </div>-->
                <!--                           </div>-->
                <!--                        </div>-->
                <!--                        <div class="d-flex align-items-center osahan-post-header p-3 border-bottom people-list">-->
                <!--                           <div class="dropdown-list-image mr-3">-->
                <!--                              <img class="rounded-circle" src="img/l8.png" alt="">-->
                <!--                           </div>-->
                <!--                           <div class="font-weight-bold">-->
                <!--                              <div class="text-truncate">Digital Painting <span class="badge badge-danger ml-1">6</span></div>-->
                <!--                              <div class="small text-muted"><span class="text-primary">Ask</span> has given an endorsement for this skill-->
                <!--                              </div>-->
                <!--                           </div>-->
                <!--                        </div>-->
                <!--                        <div class="d-flex align-items-center osahan-post-header p-3 people-list">-->
                <!--                           <div class="dropdown-list-image mr-3">-->
                <!--                              <img class="rounded-circle" src="img/l5.png" alt="">-->
                <!--                           </div>-->
                <!--                           <div class="font-weight-bold">-->
                <!--                              <div class="text-truncate">Adobe Photoshop <span class="badge badge-info ml-1">3</span></div>-->
                <!--                              <div class="small text-muted"><span class="text-primary">Julia Cox</span> has given an endorsement for this skill-->
                <!--                              </div>-->
                <!--                           </div>-->
                <!--                        </div>-->
                <!--                     </div>-->
                <!--                  </div>-->
                <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center">
                    <img src="img/job1.png" class="img-fluid" alt="Responsive image">
                    <div class="p-3 border-bottom">
                        <h6 class="font-weight-bold text-dark">Osahan Solutions</h6>
                        <p class="mb-0 text-muted">Looking for talent?</p>
                    </div>
                    <div class="p-3">
                        <button type="button" class="btn btn-outline-primary pl-4 pr-4"> POST A JOB </button>
                    </div>
                </div>
            </aside>
            <main class="col col-xl-8 order-xl-2 col-lg-12 order-lg-2 col-md-12 col-sm-12 col-12">

                <div class="box shadow-sm border rounded bg-white mb-3">
                    <form id="release_form">
                        <div class="form-group">
                            <label class="mb-1">企业id</label>
                            <div class="position-relative icon-form-control">
                                <i class="feather-user position-absolute"></i>
                                <input type="text" name="eid" id="eid" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">发起人姓名</label>
                            <div class="position-relative icon-form-control">
                                <i class="feather-user position-absolute"></i>
                                <input type="text" name="promoter_name" id="promoter_name" class="form-control" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">招聘会标题</label>
                            <div class="position-relative icon-form-control">
                                <input type="text" name="title" id="title" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">招聘会标签</label>
                            <div class="position-relative icon-form-control">
                                <input type="text" name="label" id="label" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">招聘会详情</label>
                            <div class="position-relative icon-form-control">
                                <textarea placeholder="招聘信息..."  name="content" id="content" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">招聘会地址</label>
                            <div class="position-relative icon-form-control">
                                <input type="text" name="address" id="address" class="form-control">
                            </div>
                        </div>
                    </form>
                    <button class="btn btn-primary btn-block text-uppercase" type="button" id="release_button"> 发布 </button>
                </div>
            </main>

        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/web/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/web/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- slick Slider JS-->
<script type="text/javascript" th:src="@{/web/vendor/slick/slick.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/web/js/osahan.js}"></script>
<script type="text/javascript">
        $("#nav_name").text(localStorage.getItem("name"));
        $("#nav_userName").text(localStorage.getItem("loginName"));
        $("#left_name").text(localStorage.getItem("name"));
        $("#left_username").text(localStorage.getItem("loginName"));
        $("#promoter_name").val(localStorage.getItem("loginName"));

        $("#release_button").click(function(){
            //1、先进行校验
            //2、发送ajax请求登陆
            $.ajax({
                url:"/jobfair/jobfair/release",
                type:"POST",
                data:$("#release_form").serialize(),
                success:function(result){
                    if(result.code != 0){
                        show_validate_msg("#eid","error",result.msg);
                    } else {
                        var jobid = result.data.JobFairId;
                        window.location="job-profile.html?jobid="+jobid;
                    }
                }
            });
        });
        function show_validate_msg(ele,status,msg){
            $(ele).parent().removeClass("has-success has-error");
            $(ele).next("span").text(" ");
            if("success"==status){
                $(ele).parent().addClass("has-success");
                $(ele).next("span").text(msg);
            }
            else if("error"==status){
                $(ele).parent().addClass("has-error");
                $(ele).next("span").text(msg);
            }
        }
</script>
</body>
</html>
