<!DOCTYPE html>
<html lang="UTF-8" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" type="image/png" href="img/fav.png">
      <title></title>
      <!-- Slick Slider -->
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick.min.css"/>
      <link rel="stylesheet" type="text/css" href="vendor/slick/slick-theme.min.css"/>
      <!-- Feather Icon-->
      <link href="vendor/icons/feather.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="css/style.css" rel="stylesheet">
   </head>
   <body>
      <div class="bg-white">
         <div class="container">
            <div class="row justify-content-center align-items-center d-flex vh-100">
               <div class="col-md-4 mx-auto">
                  <div class="osahan-login py-4">
                     <div class="text-center mb-4">
                        <a href="index.html"><img src="img/fav.png" alt=""></a>
                        <h5 class="font-weight-bold mt-3">小明同学欢迎您</h5>
                        <p class="text-muted">Don't miss your next opportunity. Sign in to stay updated on your professional world.</p>
                     </div>
                     <form id="form_login">
                        <div class="form-group">
                           <label class="mb-1">Account/账号</label>
                           <div class="position-relative icon-form-control">
                              <i class="feather-user position-absolute"></i>
                              <input type="text" class="form-control" id="loginAcct" name="loginAcct">
                           </div>
                        </div>
                        <div class="form-group">
                           <label class="mb-1">Password/密码</label>
                           <div class="position-relative icon-form-control">
                              <i class="feather-unlock position-absolute"></i>
                              <input type="password" class="form-control" id="userPswd" name="userPswd">
                           </div>
                        </div>
                     </form>
                        <div class="custom-control custom-checkbox mb-3">
                           <input type="checkbox" class="custom-control-input" id="customCheck1">
                           <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div>
                        <button class="btn btn-primary btn-block text-uppercase" type="button" id="login_button"> Sign in </button>
<!--                        <div class="text-center mt-3 border-bottom pb-3">-->
<!--                           <p class="small text-muted">Or login with</p>-->
<!--                           <div class="row">-->
<!--                              <div class="col-4">-->
<!--                                 <button type="button" class="btn btn-sm btn-outline-instagram btn-block"><i class="feather-instagram"></i> Instagram</button>-->
<!--                              </div>-->
<!--                              <div class="col-4">-->
<!--                                 <button type="button" class="btn btn-sm btn-outline-linkedin btn-block"><i class="feather-linkedin"></i> Linkedin</button>-->
<!--                              </div>-->
<!--                              <div class="col-4">-->
<!--                                 <button type="button" class="btn btn-sm btn-outline-facebook btn-block"><i class="feather-facebook"></i> Facebook</button>-->
<!--                              </div>-->
<!--                           </div>-->
                        </div>
                        <div class="py-3 d-flex align-item-center">
                           <a href="forgot-password.html">Forgot password?</a>
                           <span class="ml-auto"> New to Osahanin? <a class="font-weight-bold" href="sign-up.html">Join now</a></span>
                        </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Bootstrap core JavaScript -->
      <script th:src="@{vendor/jquery/jquery.min.js}"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <!-- slick Slider JS-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <!-- Custom scripts for all pages-->
      <script src="js/osahan.js"></script>
      <script type="text/javascript">
         $("#login_button").click(function(){
            window.location="index.html";
            //1、先进行校验
            //2、发送ajax请求登陆
            $.ajax({
               url:"/user/user/login",
               type:"POST",
               data:$("#form_login").serialize(),
               success:function(result){
                  if(result.code != 0){
                     show_validate_msg("#input_accountid","error",result.msg);
                  } else {
                     let resultData = result.data;
                     if(!window.localStorage){
                        alert("浏览器不支持localstorage，请更新浏览器");
                     }else{
                        //var storage=window.localStorage;
                        localStorage.setItem("loginName", resultData.username);
                        localStorage.setItem("name", resultData.name);
                        localStorage.setItem("token", resultData.token);
                        localStorage.setItem("is_enterprise", resultData.is_enterprise);
                        window.location="index.html";
                     }

                  }
               }
            });
         });
         function show_validate_msg(ele,status,msg){
            $(ele).parent().removeClass("has-success has-error");
            $(ele).next("span").text(" ");
            if("success"==status){
               $(ele).parent().addClass("has-success");
               $(ele).next("span").text(msg);
            }
            else if("error"==status){
               $(ele).parent().addClass("has-error");
               $(ele).next("span").text(msg);
            }
         }
      </script>
   </body>
</html>